name: Tests

on:
    push:
        paths:
            - "**.py"
            - "adapters/**"
    pull_request:
        paths:
            - "**.py"
            - "adapters/**"

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.x"

            - name: Run tests
              run: python tests/run_tests.py
